{{ define "title" }}JAMStack Themes{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="Find the perfect theme for your next JAMStack project." />
<meta property="og:title" content="JAMStack Themes" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.jamstackthemes.dev" />
<meta property="og:description" content="Find the perfect theme for your next JAMStack project." />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@stackbithq" />
<meta name="twitter:creator" content="@stackbithq" />
{{ end }}

{{ define "main" }}
{{ $themes := (where .Site.RegularPages "Type" "theme") }}
<div class="sidebar">
  {{ $themeCount := len $themes }}
  <div class="intro">
    <h1>All Themes <span class="count">(<span class="count-number">{{ $themeCount }}</span>)</span></h1>
    <h2>A list of themes and starters for JAMstack sites.</h2>
  </div>
  {{ partial "sort.html" . }}
  {{ partial "filters.html" . }}
  <span class="made-by">Maintained by <a href="https:/www.stackbit.com">stackbit.com</a></span>
</div>
<div class="main">
  
  <div class="grids">
    {{ range sort $themes "Lastmod" "desc" }}
    {{ $repoName := (substr (replace .Params.github "/" "-") 19 | urlize) }}
    {{ $repo := index .Site.Data.themes $repoName }}
    {{ partial "theme-card.html" (dict "theme" . "repo" $repo ) }}
    {{ end }}
  </div>
</div>
{{ end }}