<div class="demo">
  <div class="container">
    <div class="logo d-none d-md-block">
      <a href="/" title="JAMstack Themes">JAMstack Themes </a>
    </div>

    <div class="demo-heading">
      <h1 class="demo-title">{{ .theme.Title }}</h1>
    </div>

    <div class="action-buttons">
      <a class="action-button action-button-outline action-button-github" href="{{ .theme.Permalink }}">Theme Info</a>
      <a class="action-button action-button-outline action-button-github d-none d-md-block" data-action="github" data-context="demo" data-name="{{ .theme.Title }}" href="{{ .theme.Params.github }}" target="_blank" rel="nofollow noopener">Github</a>
      {{ if .site.Params.stackbit_button }}
      {{ if .stackbit }}
      {{ if .stackbit.createUrl }}
      <a class="action-button action-button-fill action-button-stackbit d-none d-md-block" data-action="stackbit" data-context="demo" data-name="{{ .theme.Title }}" href="{{ .stackbit.createUrl }}&utm_source=jamstackthemes&utm_medium=referral&utm_campaign=custom_themes&utm_content=detail" target="_blank" rel="noopener nofollow">Create Site</a>
      {{ end }}
      {{ end }}
      {{ end }}
    </div>
  </div>
</div>