<div class="filters">

  <div id="filter-group-ssg" class="filter filter-group-ssg" data-filter-group="ssg">
    <div class="filter-title">
      <h3>SSG </h3>
      <span class="toggle-info">
         <a href="https://www.staticgen.com" target="_blank" rel="noopener"><img src="{{ "images/icons/info.svg" | relURL }}"/></a> 
      </span>
      <span class="toggle-icon">
        <img src="{{ "images/icons/chevron-down-solid.svg" | relURL }}"/>
      </span>
    </div>
    <ul class="filter-list">
      {{ range .Site.Taxonomies.ssg }}
      <li id="filter-{{ .Page.Title | urlize }}" class="filter-item">
        {{ partial "icon.html" (dict "name" .Page.Title "icon" .Page.Params.icon ) }}
        <button aria-label="filter-button-{{ .Page.Title | urlize }}" id="filter-button-{{ .Page.Title | urlize }}" class="filter-button" data-toggle=".{{ .Page.Title | urlize }}"></button>
        <span class="filter-link">{{ .Page.Title }}</span>
        <span class="filter-count" id="filter-count-{{ .Page.Title | urlize}}">{{ .Count }}</span>
      </li>
      {{ end }}
    </ul>
  </div>

  <div id="filter-group-cms" class="filter filter-group-cms" data-filter-group="cms">
    <div class="filter-title">
      <h3>CMS</h3>
      <span class="toggle-info">
          <a href="https://www.headlesscms.org" target="_blank" rel="noopener"><img src="{{ "images/icons/info.svg" | relURL }}"/></a> 
      </span>
      <span class="toggle-icon">
        <img src="{{ "images/icons/chevron-down-solid.svg" | relURL }}"/>
      </span>
    </div>
    <ul class="filter-list">
      {{ range .Site.Taxonomies.cms }}
      <li id="filter-{{ .Page.Title | urlize }}" class="filter-item">
        {{ partial "icon.html" (dict "name" .Page.Title "icon" .Page.Params.icon ) }}
        <button aria-label="filter-button-{{ .Page.Title | urlize }}" id="filter-button-{{ .Page.Title | urlize }}" class="filter-button" data-toggle=".{{ .Page.Title | urlize }}"></button>
        <span class="filter-link">{{ .Page.Title }}</span>
        <span class="filter-count" id="filter-count-{{ .Page.Title | urlize}}">{{ .Count }}</span>
      </li>
      {{ end }}
    </ul>
  </div>

</div>