<div class="sort sort-radios">
  <h3 class="sort-title">Sort</h3>
  <div class="sort-line">
    <input type="radio" id="submitted" name="radio-group" checked data-sort="submitted:desc">
    <label for="submitted">Submitted</label>
  </div>
  <div class="sort-line">
    <input type="radio" id="stars" name="radio-group" data-sort="stars:desc">
    <label for="stars">Stars</label>
  </div>
  <div class="sort-line">
    <input type="radio" id="alpha" name="radio-group" data-sort="name:asc">
    <label for="alpha">Name A-Z</label>
  </div>
  <div class="sort-line">
    <input type="radio" id="lastcommit" name="radio-group" data-sort="last-commit:desc">
    <label for="lastcommit">Last Commit</label>
  </div>
</div>