
<div
  class="grid {{ range .theme.Params.ssg }}{{ . | urlize }} {{end}}{{ range .theme.Params.cms }}{{ . | urlize }} {{end}}{{ range .theme.Params.deploy }}{{ . | urlize }} {{end}}">
  <div class="theme">
    <div class="theme-container">
      <a class="theme-overlay" href="{{ .theme.Params.github }}" target="_blank"></a>
      <div class="theme-header">
        <a href="{{ .theme.Params.github }}" target="_blank">
          {{ if .theme.Params.thumbnail }}
            <img src="{{ .theme.Params.thumbnail | relURL }}" alt="{{ .theme.Params.title }} screenshot" />
          {{ else if .repo }}
              {{ $staticPath := (printf "%s/%s%s" "static/images/theme/thumbnail" .repo.theme_key ".jpg") }}
              {{ $filePath := (printf "%s/%s%s" "images/theme/thumbnail" .repo.theme_key ".jpg") }}
              {{ if (fileExists $staticPath) }}
                <img src="{{ $filePath | relURL }}" alt="{{ .theme.Params.title }} screenshot" />
              {{ else }}
                <img src="{{ "images/default.png" | relURL }}" alt="{{ .theme.Params.title }} screenshot" />
              {{ end }}
          {{ else }}
            <img src="{{ "images/default.png" | relURL }}" alt="{{ .theme.Params.title }} screenshot" />
          {{ end }}
        </a>
      </div>
      <div class="theme-body">
        <div class="theme-heading">
          <h2 class="theme-title">{{ .theme.Params.title }}</h2>
          {{ if .repo }}
            {{ partial "star.html" (dict "stars" .repo.stars)}}
          {{ end }}
          <div class="author">
            <span class="author-label">By</span><span class="author-name">{{ .theme.Params.author }}</span></div>
          {{ if .repo }}
            {{ partial "last-commit.html" (dict "last_commit" .repo.last_commit)}} 
          {{ end }}
          <div class="theme-submitted">Submitted: <span class="theme-lastmod-date">{{ .theme.Lastmod.Format "Jan 2, 2006" }}</span></div>
        </div>
      </div>
      <div class="theme-footer">
        <div class="theme-tags">

          {{ if .theme.Params.ssg }}
          <div class="tags">
            {{- range .theme.Params.ssg }}
              {{- with $.theme.Site.GetPage "taxonomyTerm" (printf "ssg/%s" (urlize .)) }}
                {{ partial "icon.html" (dict "name" .Page.Title "icon" .Page.Params.icon ) }}
              {{ end }}
            {{ end }}
          </div>
          {{ end }}

          {{ if .theme.Params.cms }}
          <div class="tags">
            {{- range .theme.Params.cms }}
              {{- with $.theme.Site.GetPage "taxonomyTerm" (printf "cms/%s" (urlize .)) }}
                {{ partial "icon.html" (dict "name" .Page.Title "icon" .Page.Params.icon ) }}
              {{ end }}
            {{ end }}
          </div>
          {{ end }}

        </div>
      </div>
    </div>
  </div>
</div>