<span class="toggle-info">
        <a href="https://www.staticgen.com" target="_blank" rel="noopener" class="tooltip" aria-label="StaticGen Rankings" title="StaticGen Rankings" data-tippy-content="StaticGen Rankings">
          <img src="{{ "images/ui/pulse.svg" | relURL }}" alt="" />
        </a>
      </span>

<span class="toggle-info">
        <a href="https://www.headlesscms.org" target="_blank" rel="noopener" class="tooltip" aria-label="Headless CMS Rankings" title="Headless CMS Rankings" data-tippy-content="HeadlessCMS Rankings">
          <img src="{{ "images/ui/pulse.svg" | relURL }}" alt="" />
        </a>
      </span>
