
.banner {
  position: fixed;
  height: 60px;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px 10px 20px;
  background: $primary;
  color: #ffffff;
  line-height: 1.3;
  @include breakpoint('small') {
    height: 40px;
    line-height: 1.2;
  }
  a {
    color: #41ffb1;
    font-weight: bold;
  }
}