.button {
  background: $primary;
  border-radius: 3px;
  color: white;
  outline: none;
  text-decoration: none;
  padding: 10px 15px;
  margin-right: 5px;
  cursor: pointer;
  @include media-breakpoint-up(sm) {
    margin-bottom: 0;
  }
  &:hover {
    border-color: $primary;
    opacity: 0.8;
  }
  &:focus {
    outline: none;
  }
  &.selected,
  &.mixitup-control-active {
    background: $primary;
    color: white;
  }
}

.sort-buttons {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  @include media-breakpoint-up(sm) {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .sort-by {
    display: none;
    margin-right: 5px;
    color: #666;
    @include media-breakpoint-up(sm) {
      margin-bottom: 0;
    }
  }
  button {
    padding: 5px;
    background: none;
    border: 2px solid $primary;
    border-radius: 3px;
    color: $primary;
    outline: none;
    margin-bottom: 5px;
    margin-right: 5px;
    cursor: pointer;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      padding: 10px 15px;
      margin-right: 10px;
    }
    &:hover {
      border-color: $primary;
      opacity: 0.8;
    }
    &:focus {
      outline: none;
    }
    &.selected,
    &.mixitup-control-active {
      background: $primary;
      color: white;
      &:hover {
        opacity: 1;
      }
    }
  }
}
