.filters {
  .filter-title {
    display: none;
    @include breakpoint('small') {
      display: block;
    }
  }
  .filter-items {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $grey;
    padding: 20px 10px 20px 10px;
    @include breakpoint('small') {
      padding: 0;
      border: none;
      margin-bottom: 20px;
    }
    .filter-item {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-content: center;
      justify-content: flex-start;
      margin-bottom: 4px;
      .filter-icon {
        width: 22px;
        height: 22px;
        margin-right: 7px;
      }
      .filter-link {
        display: none;
        a {
          color: black;
          text-decoration: none;
        }
        @include breakpoint('small') {
          display: block;
        }
      }
      .filter-count {
        color: #666;
        line-height: 17px;
        @include breakpoint('small') {
          margin: 0 0 0 auto;
        }
      }
    }
  }
}

.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    // background: $grey;
    border: 2px solid $grey;
    border-radius: 3px;
  }

  // Box hover
  &:hover + label:before {
    // background: #f35429;
    // box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    border: 2px solid $primary;
  }

  // Box focus
  &:focus + label:before {
    // box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: $primary;
    border: 2px solid $primary;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
      4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
  }
}
