.filters {
  .filter {
    border-bottom: 1px solid $grey;
    padding: 15px 10px;
    @include breakpoint('small') {
      padding: 10px 20px;
    }
    &.closed {
      .filter-list {
        display: none;
      }
      .filter-title {
        margin: 0;
      }
    }
    &:first-of-type {
      @include breakpoint('small') {
        padding-top: 20px;
      }
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
  .filter-title {
    // display: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    @include breakpoint('small') {
      display: flex;
      align-items: center;
    }
    span {
      display: flex;
      align-items: center;
    }
    h3 {
      
      margin-bottom: 0;
      font-size: 14px;
      line-height: 18px;
      @include breakpoint('small') {
        font-size: 17px;
        line-height: 22px;
      }
    }
    .toggle-info {
      margin-left: 4px;
      display: flex;
      @include breakpoint('small') {
        margin-left: 6px;
        margin-bottom: 1px;
      }
      a {
        display: flex;
        align-items: center;
      }
      svg {
        width: 18px;
        height: auto;
        fill: $primary;
        path {
          fill: $primary;
        }
        @include breakpoint('small') {
          width: 19px;
          fill: $primary;
          path {
            fill: $primary;
          }
        }
      }
      &:hover {
        opacity: 0.6;
      }
    }
    .toggle-icon {
      margin-left: auto;
      cursor: pointer;
      display: none;
      @include breakpoint('small') {
         display: flex;
      }
      img {
        width: 14px;
      }
      &:hover {
        opacity: 0.6;
      }
      &.closed { 
        transform: rotate(270deg);
      }
    }
  }
  .filter-list {
    margin: 0;
    padding: 0;
    .filter-item {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 4px;
      font-size: 13px;
      line-height: 16px;
      &:last-of-type {
        margin-bottom: 0;
      }
      .filter-button {
        margin-left: 10px;
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
        background: lighten($grey,6%);
        border: 2px solid darken($grey, 0%);
        border-radius: 3px;
        cursor: pointer;
        &:hover {
          border: 2px solid $primary;
        }
        &:focus {
          outline: none;
          box-shadow: 0 0 5px $primary;
        }
        &:focus:not(:focus-visible) {
          // for modern browsers, remove outline if mouse focus
          box-shadow: none;
        }
        &.mixitup-control-active {
          background: $primary;
          border: 2px solid $primary;
          background-image: url("../images/ui/check-solid.svg");
          background-size: 12px 12px;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
      .filter-icon {
        width: 18px;
        height: 18px;
        margin-right: 7px;
      }
      .filter-name {
        display: none;
        a {
          color: black;
          text-decoration: none;
        }
        @include breakpoint('small') {
          display: block;
        }
      }
      .filter-link {
        display: none;
        color: $primary;
        text-decoration: none;
        padding: 2px 5px;
        @include breakpoint('small') {
          display: block;
        }
        &:hover {
          text-decoration: underline;
        }
      }
      .filter-count {
        color: #666;
        @include breakpoint('small') {
          margin: 0 0 0 auto;
        }
      }
    }
  }
}

.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: lighten($grey,6%);
    border: 2px solid darken($grey, 0%);
    border-radius: 3px;
    // box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
  }

  // Box hover
  &:hover + label:before {
    // background: #f35429;
    // box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    border: 2px solid $primary;
  }

  // Box focus
  &:focus + label:before {
    // box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: $primary;
    border: 2px solid $primary;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
      4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
  }
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 300ms;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}