.footer {
  // background: $bone;
  border-top: 1px solid $grey;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  @include breakpoint('small') {
    flex-direction: row;
    display: flex;
  }
  .footer-column {
    margin-bottom: 30px;
    @include breakpoint('small') {
      width: 235px;
      margin-right: 50px;
      margin-bottom: 0px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .footer-column-brand {
    // background: $primary;
    // color: white;
    @include breakpoint('small') {
      width: 235px;
    }
  }
  p {
    line-height: 18px;
    margin: 0;
    margin-bottom: 20px;
  }
  a {
    display: block;
    margin-bottom: 8px;
    color: $primary;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  h3 {
    margin-bottom: 10px;
    // font-weight: normal;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 20px;
    li {
      
      line-height: 18px;
      a {
        // color: darken($steel, 10%);
        color: $primary;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .footer-social {
    margin-bottom: 20px;
    .social-icon {
      margin-right: 5px;
      a {
        text-decoration: none;
        img {
          width: 18px;
        }
      }
    }
  }
}