.grids {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 302px;
  margin: 0 auto;
  @include breakpoint('small') {
    justify-content: flex-start;
    max-width: 100%;
    margin: 0;
  }
  .grid {
    max-width: 312px;
    margin-bottom: 15px;
    @include breakpoint('small') {
      margin: 15px;
    }
  }
}