.hero {
  display: flex;
  flex-direction: column;
  @include breakpoint('small') {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  > div {
    // margin: 10px 10px 10px 0;
    &:last-of-type {
      margin-right: 0;
    }
  }
  .badges {
    display: flex;
    
    @include breakpoint('small') {
      margin-left: auto;
    }
  }
  .official-website {
    font-size: 16px;
    @include breakpoint('small') {
      margin-left: auto;
    }
    a {
      color: $primary;
      padding: 8px;
      &:first-of-type {
        padding-left: 0;
      }
    }
  }
  .heading {
    @include breakpoint('small') {
    }
    .heading-icon {
      display: inline-block;
      border-radius: 3px;
      margin-right: 6px;
      vertical-align: middle;
      img {
        display: inline-block;
        vertical-align: bottom;
        width: 24px;
        @include breakpoint('small') {
         width: 36px;
         line-height: 44px;
        }
      }
    }

    .heading-title {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      font-size: 28px;
      font-weight: 400;
      @include breakpoint('small') {
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 0px;
      }
    }
    .heading-sort {
      margin: 10px 0 10px 0;
      display: inline-block;
    }
  }
}

