.icon {
  vertical-align: middle;
  display: inline-block;
  a {
    display: inline-block;
    &:hover {
      opacity: 0.7;
    }
  }
  img {
    display: inline-block;
    vertical-align: bottom;
    width: 20px;
    height: 20px;
  }
}
