a.icon {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  &:hover {
    opacity: 0.7;
  }
  img {
    display: inline-block;
    vertical-align: bottom;
    width: 20px;
    height: 20px;
  }
}

span.icon {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  img {
    display: inline-block;
    vertical-align: bottom;
    width: 20px;
    height: 20px;
  }
}