.intro {
  display: flex;
  flex-direction: column;
  @include breakpoint('small') {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
  }
  h1 {
    font-size: 20px;
    font-weight: 400;
    margin-right: 20px;
    margin-bottom: 10px;
    @include breakpoint('small') {
      font-size: 46px;
      margin-bottom: 0px;
    }
  }
  h2 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    @include breakpoint('small') {
      font-size: 16px;

    }
  }
  p {
    line-height: 20px;
    margin: 0;
  }
  
}

.intro-desktop {
  display: none;
  @include breakpoint('small') {
    display: block;
  }
}

.intro-mobile {
  display: block;
  @include breakpoint('small') {
    display: none;
  }
}

.sidebar {
  .intro {
    h1 {
      font-size: 16px;
      font-weight: 400;
      margin-right: 0;
      margin-bottom: 10px;
      @include breakpoint('small') {
        font-size: 20px;
        margin-bottom: 0px;
      }
    }
    p {

    }
    h2 {
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      @include breakpoint('small') {
        font-size: 16px;
  
      }
    }
  }
}


.page-home {
  .main {
    .intro {
      h1 {
        @include breakpoint('small') {
          font-size: 26px;
        }
      }
    }
  }
}