.intro {
  h1 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    @include breakpoint('small') {
      font-size: 28px;
    }
  }
  h2 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    @include breakpoint('small') {
      font-size: 16px;

    }
  }
  .count {
    font-weight: 400;
    color: #666;
  }
}

.page-home {
  .intro {
    display: block;
    @include breakpoint('small') {
      display: none;
    }
  }
}