.intro {
  .intro-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
    img {
      display: inline-block;
      vertical-align: bottom;
      width: 24px;
      line-height: 32px;
      @include media-breakpoint-up(sm) {
        width: 36px;
        line-height: 44px;
      }
      @include media-breakpoint-up(xl) {
        width: 46px;
        line-height: 52px;
      }
    }
  }
  .intro-title {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    @include media-breakpoint-up(md) {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 0px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 46px;
      line-height: 54px;
      margin-bottom: 0px;
    }
  }
  .intro-description {
    color: $carbon;
    padding: 10px 0 10px 0;
    @include media-breakpoint-up(md) {
      font-size: 18px;
      line-height: 24px;
    }
    @include media-breakpoint-up(lg) {
      width: 75%;
    }
    &.intro-description-mobile {
      display: block;
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
    &.intro-description-desktop {
      display: none;
      width: 75%;
      @include media-breakpoint-up(md) {
        display: block;
      }
    }
  }
  .intro-backlink {
    display: none;
    margin-top: 6px;
    padding: 4px 10px;
    border: 1px solid $grey;
    border-radius: 3px;
    @include media-breakpoint-up(md) {
      margin-left: auto;
      display: block;
    }
    a {
      color: $primary;
      padding: 8px;
      &:first-of-type {
        padding-left: 0;
      }
    }
  }
  .intro-bar {
    display: flex;
    align-items: center;
  }
}
