.page {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  .wrapper {
    display: flex;
    width: 100%;
  }
  .sidebar {
    position: sticky;
    z-index: 1;
    border-right: 1px solid $grey;
    top: 0;
    width: 100px;
    overflow: auto;
    padding: 50px 0 20px 0;
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    @include breakpoint('small') {
      width: 270px;
      padding: 60px 0 40px 0;
    }
    h3 {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 15px;
    }

  }
  .main {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    flex: 1;
    padding: 70px 20px 20px 20px;
    width: 100%;
    @include breakpoint('small') {
      padding: 100px 40px 40px 40px;
    }
  }
  .footer {
    justify-items: flex-end;
  }
}
