.page {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  .wrapper {
    display: flex;
    width: 100%;
    padding-top: 60px;
  }
  .sidebar {
    position: sticky;
    top: 60px;
    z-index: 1;
    border-right: 1px solid $grey;
    width: 110px;
    overflow: auto;
    padding: 0 0 20px 0;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    @include breakpoint('small') {
      width: 270px;
      padding: 0 0 40px 0;
      height: calc(100vh - 60px);
    }
  }
  .main {
    flex: 1;
    padding: 15px 20px 15px 20px;
    @include breakpoint('small') {
      padding: 30px;
    }
  }
  .sidebar + .main {
    @include breakpoint('small') {
      padding: 20px 40px 20px 40px;
    }
  }
  .footer {
    justify-items: flex-end;
  }
}

// Banner
.page.body-banner {
  .sidebar {
    top: 110px;
    @include breakpoint('small') {
      top: 100px;
    }
  }
  .wrapper {
    padding-top: 110px;
    @include breakpoint('small') {
      padding-top: 100px;
    }
  }
}
