.made-by {
  margin-top: auto;
  color: $steel;
  font-size: 15px;
  line-height: 17px;
  padding: 0px 20px;
  span {
    display: inline-block;
    vertical-align: middle;
  }
  a {
    color: $primary;
    display: inline-block;
    vertical-align: middle;
  }
  img {
    display: inline-block;
    vertical-align: middle;
  }
  &.made-by-desktop {
    display: none;
    img {
      width: 22px;
    }
    @include breakpoint('small') {
     display: block;
    }
  }
  &.made-by-mobile {
    text-align: center;
    display: block;
    img {
      width: 30px;
    }
    @include breakpoint('small') {
     display: none;
    }
  }
  
}