.made-by {
  margin-top: auto;
  color: $steel;
  font-size: 15px;
  line-height: 17px;
  padding: 0px 20px;
  img {
    width: 30px;
  }
  a {
    color: $primary;
    &:hover {
      color: lighten($primary, 10%);
    }
  }
  &.made-by-desktop {
    display: none;
    @include breakpoint('small') {
     display: block;
    }
  }
  &.made-by-mobile {
    text-align: center;
    display: block;
    @include breakpoint('small') {
     display: none;
    }
  }
}