.made-by {
  margin-top: auto;
  color: $carbon;
  font-size: 15px;
  line-height: 17px;
  font-weight: 600;
  span {
    display: inline-block;
    vertical-align: middle;
  }
  a {
    color: $primary;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
  }
  img {
    display: inline-block;
    vertical-align: middle;
    float: right;
  }
  &.made-by-desktop {
    display: none;
    img {
      width: 22px;
    }
    @include media-breakpoint-up(sm) {
     display: block;
    }
  }
  &.made-by-mobile {
    text-align: center;
    display: block;
    img {
      width: 30px;
    }
    @include media-breakpoint-up(sm) {
     display: none;
    }
  }

}
