.main-menu {
  display: none;
  opacity: 1;
  @include breakpoint("medium") {
    display: block;
  }
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > li {
      list-style: none;
      font-size: 1rem;
      > a {
        display: inline-block;
        text-decoration: none;
        color: $primary;
        padding: 5px 8px;
        &:hover {
          text-decoration: underline;
        }
      }
      &.active {
        > a {
          font-weight: bold;
          text-decoration: none;
          &:hover {
           
          }
        }
      }
    }
  }
}
