.sort-buttons {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  @include breakpoint('small') {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .sort-by {
    display: none;
    margin-right: 5px;
    color: #666;
    @include breakpoint('small') {
      margin-bottom: 0;
    }
  }
  button {
    padding: 5px;
    background: none;
    border: 2px solid $primary;
    border-radius: 3px;
    color: $primary;
    font-size: 12px;
    outline: none;
    margin-bottom: 5px;
    margin-right: 5px;
    cursor: pointer;
    @include breakpoint('medium') {
      margin-bottom: 0;
      padding: 10px 15px;
      font-size: 14px;
      margin-right: 10px;
    }
    &:hover {
      border-color: $primary;
      opacity: 0.8;
    }
    &:focus {
      outline: none;
    }
    &.selected,
    &.mixitup-control-active {
      background: $primary;
      color: white;
      &:hover {
        opacity: 1;
      }
    }
  }

}
