.sort-buttons {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  @include breakpoint('small') {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .sort-by {
    display: none;
    margin-right: 5px;
    color: #666;
    @include breakpoint('small') {
      margin-bottom: 0;
    }
  }
  button {
    padding: 5px;
    background: none;
    border: 2px solid $primary;
    border-radius: 3px;
    color: $primary;
    font-size: 12px;
    outline: none;
    margin-bottom: 5px;
    margin-right: 5px;
    cursor: pointer;
    @include breakpoint('small') {
      margin-bottom: 0;
    }
    &:hover {
      border-color: $primary;
      opacity: 0.8;
    }
    &:focus {
      outline: none;
    }
    &.selected,
    &.mixitup-control-active {
      background: $primary;
      color: white;
    }
  }
  
}

.sort-radios {
  position: relative;
  display: none;
  @include breakpoint('small') {
    display: block;
  }
  .sort-line {
    margin-bottom: 5px;
  }
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border: 2px solid $grey;
      border-radius: 100%;
      background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 12px;
      height: 12px;
      background: $primary;
      position: absolute;
      top: 4px;
      left: 4px;
      border-radius: 100%;
  }
  [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}