
.star {
  display: inline-block;
  //background: #f5f5f5;
  border: 1px solid $bone;
  padding: 4px 7px 4px 22px;
  border-radius: 2px;
  font-size: 14px;
  color: $steel;
  margin-bottom: 8px;
  background-image: url("../images/ui/star.svg");
  background-repeat: no-repeat;
  background-position: 6px 6px;
  background-size: 12px 12px;
  img {
    display: inline-block;
    width: 12px;
    height: 12px;
  }
  svg {
    fill: $yellow;
  }
  .star-count {
    display: inline-block;
  }
}

.star-large {
  background-color: white;
  background-image: url("../images/ui/star.svg");
  background-repeat: no-repeat;
  background-position: 6px 6px;
  background-size: 22px 22px;
  font-size: 26px;
  padding-left: 32px;
}
