.terms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  @include breakpoint('small') {
    margin-left: -10px;
    margin-right: -10px;
    justify-content: flex-start;
  }
  .term {
    padding: 40px;
    border: 1px solid $grey;
    margin-bottom: 15px;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 1px 1px 8px 2px adjust-color(black, $alpha: -0.9);
    transition: color 0.3s, box-shadow 0.3s, transform 0.3s;
    position: relative;
    z-index: 1;
    @include breakpoint('small') {
      flex: 0;
      min-width: 180px;
      margin: 10px;
    }
    &:hover {
      transform: translateY(-3px);
      box-shadow: 1px 5px 16px 2px adjust-color($primary, $alpha: -0.8);
      color: currentColor;
    }
    .term-overlay {
      position: absolute;
      top: 0; 
      left: 0;
      height: 100%; 
      width: 100%;
    }
    h2 {
      margin-top: 15px;
      margin-bottom: 0;
      font-weight: 400;
      font-size: 20px;
      text-align: center;
      a {
        text-decoration: none;
        color: black;
      }
    }
    img {
      display: block;
    }
  }
}