.terms {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .term {
    padding: 40px;
    flex: 1;
    border: 1px solid $grey;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      margin-top: 10px;
      margin-bottom: 0;
      font-weight: 400;
      a {
        text-decoration: none;
        color: black;
      }
    }
    img {
      display: block;
    }
  }
}