.action-buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  .action-buttons-group {
    &:last-of-type {
      margin-bottom: 0;

    }
  }
  .action-button {
    @extend .button;
    padding: 5px 8px;
    text-align: center;
    flex: 1 0 auto;
    font-size: 14px;
    &.action-button-fill {
      background-color: $primary;
      color: white;
    }
    &.action-button-link {
      border: none;
      text-decoration: underline;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}
.action-buttons-detail {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  .action-button {
    display: inline-block;
    padding: 7px 15px;
    border: 1px solid $primary;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
    color: $primary;
    text-decoration: none;
    &:hover {
      color: $primary;
      opacity: 0.8;
    }
    &:last-of-type {
      margin-right: 0;
    }
    &.action-button-fill {
      background-color: $primary;
      color: white;
    }
    &.action-button-link {
      border: none;
      text-decoration: underline;
    }
  }
}