
.theme-detail {
  margin: 0 auto;
  display: flex;
  flex-direction: column;


  .theme-detail-top {
    display: flex;
    flex-direction: row;
  }
  .theme-detail-bottom {
    padding-top: 60px;
  }
  .theme-info {
    flex: 1;
    min-width: 400px;
    padding-right: 60px;
  }
  .theme-preview {
    max-width: 800px;
  }
  .theme-image {
    border: 1px solid $grey;
    
    img {
      width: 100%;
      height: auto;
      vertical-align: bottom;
    }
  }

  .theme-detail-buttons {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .theme-detail-heading {
    font-size: 46px;
    font-weight: normal;
  }
  .theme-detail-summary {
    font-size: 20px;
    color: $steel;
  }
  .theme-detail-tags {
    margin-top: 40px;
    display: inline-block;
    background: $grey;
    border-radius: 3px;
    padding: 20px;
  }
}