
.theme-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  background-color: white;
  box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.05);
  transition: color 0.1s, box-shadow 0.1s linear, transform 0.1s linear;
  position: relative;
  z-index: 1;
  min-height: 340px;
  //&:hover {
  //  transform: translateY(-2px);
  //  transition: box-shadow 0.2s ease-out, transform 0.2s ease-out;
  //  box-shadow: 1px 4px 12px 2px adjust-color($primary, $alpha: -0.8);
  //  color: currentColor;
  //}
  .theme-header {
    border-bottom: 1px solid $grey;
    max-height: 180px;
    overflow: hidden;
    @include breakpoint(large) {
      max-height: 220px;
    }
    a {
      display: block;
    }
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
      vertical-align: bottom;
      transition: opacity 0.2s ease-out;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .theme-body {
    flex: 1;
    min-height: 170px;
    background: white;
    color: $steel;
    .theme-meta {
      padding: 20px;
      h2 {
        font-size: 20px;
        line-height: 26px;
        font-weight: 500;
        font-family: $font-family-heading;
        margin: 0;
        margin-bottom: 10px;
      }
      p {
        color: $steel;
        font-size: 14px;
        strong {
          color: $carbon;
        }
        &.description {
          margin-top: 20px;
          margin-bottom: 0;
          line-height: 18px
        }
      }
    }
    .theme-description {
      padding: 0px 20px;
    }
    .theme-buttons {
      padding: 20px 20px;
      .theme-button {
        padding: 3px 5px;
        border: 1px solid $primary;
        border-radius: 2px;
        font-size: 13px;
        margin-right: 5px;
        color: $primary;
        text-decoration: none;
        display: inline-block;
        &:hover {
          color: $primary;
          opacity: 0.8;
        }
        &.theme-button-fill {
          background-color: $primary;
          color: white;
        }
        &.theme-button-link {
          border: none;
          text-decoration: underline;
        }
      }
    }
  }
  .theme-footer {
    border-top: 1px solid $grey;
    background: $bone;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 15px;
    a {
      flex: 0;
      padding: 8px;
      border-right: 1px solid $grey;
      border-bottom: 1px solid $grey;
      &:last-of-type {
        border-right: none;
      }
    }
  }

}

.theme-featured {
  .theme-header {
    border-bottom: 1px solid $grey;
    max-height: 280px;
    overflow: hidden;
    img {
      max-width: 100%;
      height: auto;
      vertical-align: bottom;
      @include breakpoint('small') {

      }
    }
  }
}

.last-commit {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 16px;
  color: $steel;
  .last-commit-label {
    display: inline-block;
  }
  .last-commit-date {
    display: inline-block;
    color: black;
  }
}

.author {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 16px;
  color: $steel;
  margin-bottom: 2px;
  .author-label {
    display: inline-block;
  }
  .author-name {
    display: inline-block;
    color: black;
  }
}
