.theme-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $grey;
  border-radius: 8px;
  background-color: white;
  position: relative;
  z-index: 1;
  height: 100%;
  box-shadow: 0 25px 20px -25px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.05);
  .theme-header {
    border-bottom: 1px solid $grey;
    max-height: 260px;
    overflow: hidden;
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
      vertical-align: bottom;
      transition: opacity 0.2s ease-out;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .theme-body {
    //min-height: 200px;
    background: white;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 10px;
      @include media-breakpoint-up(xl) {
        font-size: 26px;
      }
    }
    p {
      font-size: 14px;
      @include media-breakpoint-up(xl) {
        font-size: 16px;
      }
      &.description {
        padding: 20px 0 20px 0;
        padding: 0;
        margin: 0;
      }
    }
    .theme-description {
      margin-bottom: 20px;
    }
    .action-buttons {
      margin-top: auto;
    }
  }
  .theme-footer {
    //border-top: 1px solid $grey;
    background: $bone;
    padding: 8px 13px 8px 13px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    a {
      flex: 0;
      padding: 7px;
      //border-right: 1px solid $grey;
      //border-bottom: 1px solid $grey;
    }
  }
  .theme-buttons {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .theme-buttons-group {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    .theme-button {
      @extend .button;
      text-align: center;
      flex: 1 0 auto;
      font-size: 14px;
      &.theme-button-fill {
        background-color: $primary;
        color: white;
      }
      &.theme-button-link {
        border: none;
        text-decoration: underline;
      }
    }
  }
  .theme-stars {
    display: inline-block;
    border: 1px solid $bone;
    padding: 4px 6px 4px 24px;
    border-radius: 2px;
    color: $steel;
    background-image: url("../images/ui/star.svg");
    background-repeat: no-repeat;
    background-position: 6px;
    background-size: 13px;
    background-color: $bone;
    font-size: 14px;
    font-weight: 600;
    @include media-breakpoint-up(xl) {
      background-size: 15px;
      background-position: 8px;
      padding: 4px 6px 4px 28px;
      font-size: 16px;
      font-weight: normal;
    }
    .star-count {
      display: inline-block;
    }
  }
}
