
.theme {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid $grey;
  border-radius: 4px;
  background-color: white;
  box-shadow: 1px 1px 8px 2px adjust-color(black, $alpha: -0.9);
  transition: color 0.3s, box-shadow 0.3s, transform 0.3s;
  position: relative;
  z-index: 1;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 1px 5px 16px 2px adjust-color($primary, $alpha: -0.8);
    color: currentColor;
  }
  .theme-container {
    position: relative;
  }
  .theme-overlay {
    position: absolute;
    top: 0; 
    left: 0;
    height: 100%; 
    width: 100%;
  }
  .theme-header {
    border-bottom: 1px solid $grey;
    max-height: 180px;
    overflow: hidden;
    img {
      max-width: 100%;
      vertical-align: bottom;
    }
   
  }
  .theme-body {
    flex: 1;
    padding: 20px;
    min-height: 170px;
    h2 {
      font-size: 20px;
      line-height: 26px;
      font-weight: 500;
      font-family: $font-family-heading;
      margin: 0;
      margin-bottom: 10px;
    }

    .theme-fresh {
      display: flex;
      align-items: center;
      > div {
        &:first-of-type {
          border-right: 1px solid $grey;
        }
      }
    }
    .theme-submitted {
      display: none;
      font-size: 13px;
      line-height: 18px;
      color: #666666;
    }
  }
  .theme-footer {
    .theme-tags {
      border-top: 1px solid $grey;
      background: #f5f5f5;
      display: flex;
      justify-content: flex-start;
      .tags {
        padding: 10px 10px;
        border-right: 1px solid $grey;
      }
    }
  }
}


.last-commit {
  font-size: 14px;
  line-height: 18px;
  color: $steel;
  margin-bottom: 4px;
  .last-commit-label {
    display: inline-block;
    margin-right: 4px;
  }
  .last-commit-date {
    display: inline-block;
  }
}

.author {
  font-size: 14px;
  color: $steel;
  margin-bottom: 4px;
  .author-label {
    display: inline-block;
    margin-right: 4px;
  }
  .author-name {
    display: inline-block;
  }
}

.star {
  display: inline-block;
  float: right;
  background: #f5f5f5;
  padding: 4px 7px;
  border-radius: 2px;
  font-size: 14px;
  color: $steel;
  margin-bottom: 8px;
  img {
    display: inline-block;
    width: 12px;
    height: 12px;
  }
  svg {
    fill: $yellow;
  }
  .star-count {
    display: inline-block;
  }
}

