.theme-detail {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .theme-detail-top {
    display: flex;
    flex-direction: column;
    @include breakpoint('small') {
      flex-direction: row;
    }
    .theme-info {
      flex: 1;
      min-width: 400px;
      padding-right: 60px;
    }
    .theme-preview {
      margin-top: 20px;
      max-width: 800px;
      @include breakpoint('small') {
        margin-top: 0;
      }
    }
  }
  .theme-detail-bottom {
    padding-top: 60px;
  }
  .theme-image {
    border: 1px solid $grey;
    img {
      width: 100%;
      height: auto;
      vertical-align: bottom;
    }
  }

  .theme-detail-buttons {
    margin-top: 20px;
    a {
      display: inline-block;
    }
  }
  .theme-detail-heading {
    font-size: 46px;
    font-weight: normal;
  }
  .theme-detail-summary {
    font-size: 20px;
    color: $steel;
  }
  .theme-detail-tags {
    margin-top: 20px;
    display: inline-block;
    background: $grey;
    border-radius: 3px;
    padding: 10px;
    @include breakpoint('small') {
      padding: 20px;
    }
  }
}
