$primary: #5004E0;
$grey: #e9e9e9;
$steel: #666666;
$yellow: #f6d603;
$blue: #57b8ff;

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

$font-family-base: 'Roboto', Helvetica, sans-serif;
$font-family-heading: 'Roboto', Helvetica, sans-serif;
$font-family-mono: monospace;

$breakpoints: (
  'small':  690px,
  'medium': 992px,
  'large':  1200px
);

@import 'breakpoints';
@import 'reset';
@import 'grid';
@import 'theme-card';
@import 'layout';
@import 'header';
@import 'filter';
@import 'sort';
@import 'intro';
@import 'info';
@import 'icon';
@import 'footer';
@import 'terms';
@import 'tipr';
@import 'count';
@import 'breadcrumbs';
@import 'star';
@import 'made-by';
@import 'not-found';
@import 'badge';
@import 'hero';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.15;
  font-family: $font_family_heading, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #2a2a2a;
}
