$primary: #2f5ffd;
$bone: #f5f5f5;
$grey: #e9e9e9;
$steel: #585858;
$carbon: #2a2a2a;
$lime-green: #10b981;
$soft-pink: #ec4899;

$font-family-base: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-heading: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-mono: monospace;
$font-family-serif: serif;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1240px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1200px
);

$grid-gutter-width: 30px;

// Links
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: 10px,
    2: 20px,
    3: 30px,
    4: 40px,
    5: 50px,
    6: 60px,
    7: 70px,
    8: 80px,
    9: 90px,
    10: 100px
  ),
  $spacers
);

@import 'bootstrap/bootstrap-reboot';
@import 'bootstrap/bootstrap-grid';
@import 'layout';
@import 'header';
@import 'footer';
@import 'filter';
@import 'terms';
@import 'theme-card';
@import 'theme-detail';
@import 'theme-buttons';
@import 'intro';
@import 'demo';
@import 'breadcrumbs';
@import 'buttons';
@import 'icon';
@import 'star';
@import 'pagination';
@import 'github-metrics';
@import 'content';
@import 'label';
@import 'pricing';
@import 'bootstrap/utilities';
//@import 'pygments/github';

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.4;
  font-family: $font-family-heading, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: $carbon;
}

p {
  color: $steel;
}
