//$primary: #5004E0;
$primary: #2f5ffd;
$grey: #e9e9e9;
$bone: #f5f5f5;
$steel: #666666;
$yellow: #f6d603;
$blue: #57b8ff;
$carbon: #2a2a2a;

 @import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:wght@300&Source+Code+Pro:wght@300&Open+Sans:wght@300;400;600&Roboto:400,700&Source+Code+Pro:wght@300&display=swap');

$font-family-base: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-heading: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-mono: 'Source Code Pro', monospace;
$font-family-serif: 'Source Serif Pro', serif;

$breakpoints: (
  'small':  480px,
  'medium': 768px,
  'large':  1200px
);

@import 'breakpoints';
@import 'reset';
@import 'grid';
@import 'theme-card';
@import 'theme-detail';
@import 'layout';
@import 'header';
@import 'button';
@import 'filter';
@import 'sort-buttons';
@import 'intro';
@import 'info';
@import 'icon';
@import 'footer';
@import 'terms';
@import 'count';
@import 'breadcrumbs';
@import 'star';
@import 'made-by';
@import 'not-found';
// @import 'badge';
@import 'hero';
// @import 'banner';
@import 'pagination';
@import 'logo';
@import 'main-menu';
@import 'main-menu-mobile';
@import 'categories';
@import 'blurb';
@import 'content';
@import 'link';
@import 'pygments/github';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-family: $font_family_heading, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #2a2a2a;
}
