{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-single{{ end }}

{{ define "main" }}

{{ $repoName := printf "%s-%s" (substr (replace .Params.github "/" "-") 19 | urlize) .Params.github_branch }}
{{ $repo := index .Site.Data.themes $repoName }}

<div class="main">
    <div class="theme theme-detail" data-name="{{ .Title }}">
        <div class="theme-detail-top">
            <div class="theme-detail-info">

                <h1 class="theme-detail-heading">{{.Title}}</h1>
                <p class="theme-detail-summary">{{ .Params.description }}</p>

                {{ if $repo }}
                {{ partial "star-large.html" (dict "stars" $repo.stars)}}
                {{ end }}

                {{ partial "author.html" (dict "author" .Params.author)}}

                {{ if $repo }}
                {{ partial "last-commit.html" (dict "last_commit" $repo.last_commit)}}
                {{ end }}

                <div class="last-commit">
                    <span class="last-commit-label">Submitted On:</span>
                    {{ if .Params.date }}
                    <span class="last-commit-date">{{ dateFormat "Jan 2, 2006" .Params.date }}</span>
                    {{ end }}
                </div>

                <div class="theme-buttons theme-detail-buttons">
                    <a class="button theme-button-github" href="{{ .Params.github }}" target="_blank" rel="nofollow noopener">Github</a>
                    <a class="button theme-button-demo" href="{{ .Params.demo }}" target="_blank" rel="nofollow noopener">Live Demo</a>
                    {{ if .Params.stackbit }}
                    <a class="theme-button theme-button-stackbit" href="{{ .Params.stackbit }}" target="_blank" rel="noopener nofollow">Stackbit</a>
                    {{ end }}
                </div>

                <div class="theme-detail-tags">

                    {{ if .Params.ssg }}
                    {{- range .Params.ssg }}
                    {{- with $.Site.GetPage "taxonomyTerm" (printf "ssg/%s" (urlize .)) }}
                    {{ partial "icon-link-card.html" (dict "name" .Page.Title "icon" .Page.Params.icon "link" .Page.Permalink) }}
                    {{ end }}
                    {{ end }}
                    {{ end }}

                    {{ if .Params.cms }}
                    {{- range .Params.cms }}
                    {{- with $.Site.GetPage "taxonomyTerm" (printf "cms/%s" (urlize .)) }}
                    {{ if eq .Page.Title "No CMS" }}
                    {{ else }}
                    {{ partial "icon-link-card.html" (dict "name" .Page.Title "icon" .Page.Params.icon "link" .Page.Permalink) }}
                    {{ end }}
                    {{ end }}
                    {{ end }}
                    {{ end }}

                    {{ if .Params.css }}
                    {{- range .Params.css }}
                    {{- with $.Site.GetPage "taxonomyTerm" (printf "css/%s" (urlize .)) }}
                    {{ if eq .Page.Title "No css" }}
                    {{ else }}
                    {{ partial "icon-link-card.html" (dict "name" .Page.Title "icon" .Page.Params.icon "link" .Page.Permalink) }}
                    {{ end }}
                    {{ end }}
                    {{ end }}
                    {{ end }}

                    {{ if .Params.archetype }}
                    {{- range .Params.archetype }}
                    {{- with $.Site.GetPage "taxonomyTerm" (printf "archetype/%s" (urlize .)) }}
                    {{ if eq .Page.Title "No archetype" }}
                    {{ else }}
                    {{ partial "icon-link-card.html" (dict "name" .Page.Title "icon" .Page.Params.icon "link" .Page.Permalink) }}
                    {{ end }}
                    {{ end }}
                    {{ end }}
                    {{ end }}
                </div>
            </div>
            <div class="theme-detail-preview">
                <div class="theme-detail-image">
                    {{ if $repo }}
                    {{ $staticPath := (printf "%s/%s%s" "static/capture" $repo.theme_key ".png") }}
                    {{ $filePath := (printf "%s/%s%s" "capture" $repo.theme_key ".png") }}
                    {{ if (fileExists $staticPath) }}
                    <img src="{{ $filePath | relURL }}" alt="{{ .Title }} screenshot"  />
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
        <div class="theme-detail-bottom">
            <div class="content">
                {{ .Content }}
            </div>
        </div>
    </div>
</div>

{{ end }}

{{ define "footer_js" }}{{ end }}

