<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="{{ .Permalink }}" />

  {{ block "ogmeta" . }}
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:description" content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta property="og:image" content="{{ .Site.BaseURL }}images/jamstackthemes-screenshot.png">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@jamstackthemes" />
    <meta name="twitter:creator" content="@jamstackthemes" />
  {{end}}

  {{ block "meta_description" . }}
  {{ end }}

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">

  {{ if .Site.IsServer }}
  {{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}
  <link rel="stylesheet" href="{{ ($style).RelPermalink }}">
  {{ else }}
  {{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false) }}
  <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
  {{ end }}

  {{ block "header_css" . }}{{ end }}

  <link rel="icon" type="image/png" sizes="32x32" href="{{ "images/favicon/favicon-32x32.png" | relURL }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "images/favicon/favicon-16x16.png" | relURL }}">

  {{ with .OutputFormats.Get "rss" }}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end }}

</head>

<body id="{{ block "body_id" . }}{{ end }}" class="page {{ block "body_classes" . }}{{ end }}">
  {{ block "header" . }}
  <div class="header {{ block "header_classes" . }}{{ end }}">
    {{ partial "header.html" . }}
  </div>
  {{ end }}

  {{ block "main" . }}{{ end }}

  {{ block "footer" . }}
    {{ partial "footer.html" . }}
  {{ end }}

  {{ partial "segment.html" . }}

  {{ block "footer_js" . }}{{ end }}

  {{ $branches := resources.Get "js/branches.js" }}
  {{ $scripts := resources.Get "js/scripts.js" }}

  {{ $scriptsBundle := slice $branches $scripts | resources.Concat "js/scriptsBundle.js" }}

  {{ if .Site.IsServer }}
    <script type="text/javascript" src="{{ $scriptsBundle.RelPermalink }}"></script>
  {{ else }}
    <script type="text/javascript" src="{{ ($scriptsBundle | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}

</body>
</html>
