<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="JAMstack Themes" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.jamstackthemes.dev" />
  <meta property="og:description" content="The most complete list of themes and starters for JAMstack sites. Easily filter themes by static site generator, headless CMS, category and more.">
  <meta property="og:image" content="https://jamstackthemes.dev/images/jamstackthemes-screenshot.png">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@stackbithq" />
  <meta name="twitter:creator" content="@stackbithq" />

  {{ block "meta_tags" . }}{{end}}

  {{ if .Site.IsServer }}
  {{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}
  <link rel="stylesheet" href="{{ ($style).RelPermalink }}">
  {{ else }}
  {{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false) }}
  <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
  {{ end }}

  {{ block "header_css" . }}{{ end }}

  <link rel="icon" type="image/png" sizes="32x32" href="{{ "images/favicon/favicon-32x32.png" | relURL }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "images/favicon/favicon-16x16.png" | relURL }}">

  {{ with .OutputFormats.Get "rss" }}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end }}

</head>

{{ $bodyClasses := slice "" }}
{{ if eq .Site.Params.banner true }}{{ $bodyClasses = $bodyClasses | append "body-banner" }}{{ end }}
{{ if and (eq .Site.Params.banner true) (eq .Site.Params.banner_fixed true) }}{{ $bodyClasses = $bodyClasses | append "body-banner-fixed" }}{{ end }}

<body class='page {{ block "body_classes" . }}{{ end }} {{ delimit $bodyClasses " " }}'>
  {{ if .Site.Params.banner }}
    {{ partial "banner.html" . }}
  {{ end }}
  {{ partial "header.html" . }}

  <div class="wrapper">
    {{ block "main" . }}
    {{ end }}
  </div>

  {{ partial "footer.html" . }}

  {{ $themeTracking := resources.Get "js/theme-tracking.js" }}

  {{ $js := slice $themeTracking | resources.Concat "js/bundle.js" }}
  
  {{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $js.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($js | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}

  {{ block "footer_js" . }}
  {{ end }}

  {{ partial "segment.html" . }}

</body>

</html>