{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-single{{ end }}

{{ define "main" }}

{{ $repoName := printf "%s-%s" (substr (replace .Params.github "/" "-") 19 | urlize) .Params.github_branch }}
{{ $repo := index .Site.Data.themes $repoName }}

<div class="main">

  <div class="intro">
    <h1>{{.Title}}</h1>
  </div>
  {{ if .Params.thumbnail }}
    <img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }} screenshot" />
  {{ else if $repo }}
    {{ $staticPath := (printf "%s/%s%s" "static/capture" $repo.theme_key ".png") }}
    {{ $filePath := (printf "%s/%s%s" "capture" $repo.theme_key ".png") }}
    {{ $filePathHiRes := (printf "%s/%s%s" "capture" $repo.theme_key "-2x.png") }}
    {{ if (fileExists $staticPath) }}
      <img src="{{ $filePath | relURL }}" alt="{{ .Title }} screenshot" srcset="{{ $filePathHiRes | relURL }} 2x" />
    {{ else }}
      <img src="{{ "images/default.png" | relURL }}" alt="{{ .Title }} screenshot" />
    {{ end }}
  {{ else }}
    <img src="{{ "images/default.png" | relURL }}" alt="{{ .Title }} screenshot" />
  {{ end }}

  {{ .Content }}

</div>

{{ end }}