{{ define "title" }}{{.Title}} Themes{{ if gt .Paginator.PageNumber 1 }} | Page {{ .Paginator.PageNumber }}{{ end }}{{ end }}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-taxonomy{{ end }}

{{ define "meta_tags" }}
{{ end }}

{{ define "main" }}
{{ $themes := .RegularPages }}
{{ $themes := (where $themes ".Params.draft" "!=" true) }}
{{ $themes := (where $themes ".Params.disabled" "!=" true) }}
{{ $themeCount := len $themes}}

<div class="wrapper">
    <div class="main">
        <div class="container">

            <div class="intro">
                <div class="intro-heading">
                    <div class="intro-icon"><img src="{{ .Params.icon | relURL }}" alt="{{.Title}} Logo" /></div>
                    <h1 class="intro-title">{{.Title}} Themes <span class="count">({{ $themeCount }})</span></h1>
                </div>
                <div class="intro-description"><p>Browse our list of {{ .Title }} themes, starters and templates.</p></div>
                <div class="intro-bar">
                    <div class="intro-breadcrumbs">{{ partial "breadcrumbs.html" . }}</div>
                    <div class="intro-backlink"><strong>Official Website</strong> <a href="{{ .Params.official_url }}">{{  .Params.official_url }}</a></div>
                </div>
            </div>

            <div id="grids-taxonomy" class="row mt-3">
            {{ $paginator := .Paginate $themes }}
            {{ range $paginator.Pages }}
                {{ $repoName := printf "%s-%s" (substr (replace .Params.github "/" "-") 19 | urlize) .Params.github_branch }}
                {{ $repo := index .Site.Data.themes $repoName }}
                {{ $stackbit := index .Site.Data.stackbit $repoName }}
                {{ partial "theme-card.html" (dict "theme" . "repo" $repo "site" $.Site "stackbit" $stackbit) }}
            {{ end }}
            </div>

            {{ $paginator := .Paginator }}
            {{ partial "pagination.html" . }}

        </div>
    </div>
</div>
{{ end }}
