{{ define "title" }}{{.Title}} Themes{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-taxonomy{{ end }}

{{ define "main" }}
<div class="sidebar">
  {{ partial "filters.html" . }}
  <span class="made-by">Made by <a href="https:/www.stackbit.com">Stackbit.com</a></span>
</div>
<div class="main">
  {{ $themeCount := len .Pages }}
  {{ partial "breadcrumbs.html" . }}

  <div class="intro">
    <h1>{{.Title}} <span class="count">({{ $themeCount }})</span></h1>
  </div>

  <div class="grids">
    {{ range .Pages }}
    {{ $repoName := (substr (replace .Params.github "/" "-") 19 | urlize) }}
    {{ $repo := index .Site.Data.themes $repoName }}
    {{ partial "theme-card.html" (dict "theme" . "repo" $repo ) }}
    {{ end }}
  </div>
</div>
{{ end }}