{{ define "title" }}{{.Title}} Themes{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-taxonomy{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{.Title}} Themes and Starters for JAMstack Sites." />
{{ end }}

{{ define "main" }}
{{ $themeCount := len .Pages }}

<div class="main">
  <div class="hero">
    <div class="heading">
      <div class="heading-icon"><img src="{{ .Params.icon | relURL }}" alt="{{.Title}} Logo" /></div>
      <h1 class="heading-title">{{.Title}} Themes <span class="count">({{ $themeCount }})</span></h1>
    </div>
    {{ partial "sort-buttons.html" . }}
    {{ $url := urls.Parse .Params.official_url }}		
    <div class="official-website"><strong>Official Website:</strong> <a href="{{ .Params.official_url }}">{{ $url.Host }}</a></div>
  </div>
  {{ partial "breadcrumbs.html" . }}
  <div id="grids-taxonomy" class="grids">
    {{ range sort .Pages "Lastmod" "desc" }}
    {{ $repoName := printf "%s-%s" (substr (replace .Params.github "/" "-") 19 | urlize) (cond (ne .Params.github_branch nil) .Params.github_branch "master") }}
    {{ $repo := index .Site.Data.themes $repoName }}
    {{ partial "theme-card.html" (dict "theme" . "repo" $repo ) }}
    {{ end }}
  </div>
</div>
{{ end }}

