{{ define "meta_tags" }}
<meta name="description" content="{{.Title}} for JAMstack Sites." />
{{ end }}

{{ define "main" }}
{{ $themeCount := len .Pages }}

<div class="main">
  <div class="hero">
    <div class="heading">
      <h1 class="heading-title">{{.Title}} <span class="count">({{ $themeCount }})</span></h1>
    </div>
  </div>
  {{ partial "breadcrumbs.html" . }}
  <div class="terms">
      {{ range .Pages }}
      {{ partial "term-card.html" (dict "term" .) }}
      {{ end }}
  </div>
</div>
{{ end }}