{{ define "title" }}
  {{ $themes := (where .Site.RegularPages "Type" "theme") }}
  {{ $themes := (where $themes ".Params.draft" "!=" true) }}
  {{ $themeCount := len $themes}}
All Themes ({{ $themeCount }})
{{ end }}

{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="Search hundreds of open-source JAMstack themes and find the perfect starter theme or boilerplate for your next project. Filter themes by static site generator, headless CMS and more. Sort themes by stars, last commit date or submission date.">
{{ end }}

{{ define "main" }}
{{ $themes := (where .Site.RegularPages "Type" "theme") }}
{{ $themes := (where $themes ".Params.draft" "!=" true) }}
{{ $themeCount := len $themes}}

<div class="sidebar">
  {{ partial "filters.html" (dict "context" . "countAll" true) }}
  {{ partial "stackbit.html" . }}
</div>

<div class="main">
  
  <div class="intro">
    <h1>All Themes <span class="count">(<span class="count-number">{{ $themeCount }}</span>)</span></h1>
  </div>

  <div>
    <div class="blurb blurb-desktop">
      <p>Search hundreds of open-source JAMstack themes and find the perfect starter theme or boilerplate for your next project. Filter themes by static site generator, headless CMS and more. Sort themes by stars, last commit date or submission date.</p>
    </div>
    <div class="blurb blurb-mobile">
      <p>Search hundreds of open-source JAMstack themes!</p>
    </div>  
      
  </div>

  {{ partial "sort-buttons.html" . }}

  <div id="grids-homepage" class="grids">
    {{ range $themes.ByPublishDate.Reverse }}
    {{ $repoName := printf "%s-%s" (substr (replace .Params.github "/" "-") 19 | urlize) .Params.github_branch }}
    {{ $repo := index .Site.Data.themes $repoName }}
      {{ partial "theme-card.html" (dict "theme" . "repo" $repo) }}
    {{ end }}
  </div>

  <div class="controls-pagination">
    <div class="mixitup-page-list"></div>
    <div class="mixitup-page-stats"></div>
</div>

</div>
{{ end }}

{{ define "footer_js" }}
{{ $mixitup := resources.Get "js/libs/mixitup.js" }}
{{ $mixitupMultiFilter := resources.Get "js/libs/mixitup-multifilter.js" }}
{{ $mixitupPagination := resources.Get "js/libs/mixitup-pagination.js" }}
{{ $filterHash := resources.Get "js/filter-hash.js" }}
{{ $filter := resources.Get "js/filter.js" }}
{{ $scripts := resources.Get "js/scripts.js" }}
{{ $bundle := slice $mixitup $mixitupMultiFilter $mixitupPagination $filterHash $filter $scripts  | resources.Concat "js/AllThemes.js" }}
{{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($bundle | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}
{{ end }}